header h1{
    border:solid 1px blue;
    padding: 2%; /*vahe tekstist ääriseni*/
    margin: 10px;
    text-align: center;
    border-radius:10px;
    width: 60%;
    background-color: cornflowerblue;
    letter-spacing: 0.2cm;
    font-variant: small-caps;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightsteelblue;
}
li{
    float: left;
    display: block;
    text-align: center;
    padding: 10px;
}
li a{
    text-decoration: none;
    color: black;
    padding: 8px;
}
li a:hover{ /*lingid fookuses*/
    background-color: darkblue;
}
footer{
    text-align: center;
    margin-top: auto;
    background-color: lightskyblue;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

}
section{
    text-align: center;
    margin-top: auto;
    background-color: greenyellow;
    position: fixed;
    padding: 2%;
    width: 12%;
    margin: 10px;
}
section h2{
    font-family: Amiri;
    border:dotted 10px;
    background-color: lightgreen;
    padding: 2%;
    width: 100%;


}