body{
    font-family: Georgia;/*fondi tüüp*/
    color: deeppink; /*teksti värv*/
}
h1{
    border:solid 1px deeppink;
    padding: 10%; /*vahe tekstist ääriseni*/
    margin: 10px;
    text-align: center;
    border-radius:10px;
    width: 60%;
    background-color: lightpink;

}
h2{
    border:dotted 10px deeppink; /*dashed,outline,double,solid,ääres*/
    padding: 1%; /*vahe tekstist ääriseni*/
    margin: 1px; /*vahe veebilehe piirist ääriseni*/
    border-radius: 10px;
    width: 60%; /*laius*/
    background-color: lightpink; /*tausta värv*/

}
ul{
    list-style-type: circle; /*markeri tüüp-square, */
    padding: 1px;
    background-color: lightpink;
}
ul li{
    background-color: darksalmon;
    margin: 5px;

}
table,td{
    width: 60%;
    border: solid 1px deeppink;
    border-collapse: collapse; /*ühine ääris*/
    text-align: center; /*teksti joondamine keskele*/
    background-color: darksalmon;
}

